In [3]:
pwd

'C:\\Users\\Zhixing'

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
my_numpy_array=np.random.rand(3)

In [5]:
my_numpy_array

array([0.26653609, 0.69514993, 0.3476836 ])

In [6]:
panda_series=pd.Series(my_numpy_array)

In [7]:
panda_series

0    0.266536
1    0.695150
2    0.347684
dtype: float64

In [8]:
my_numpy_data=np.random.rand(3,2)

In [9]:
my_numpy_data

array([[0.61355383, 0.64236335],
       [0.9837967 , 0.51348685],
       [0.36355138, 0.18332247]])

In [10]:
panda_data=pd.DataFrame(my_numpy_data)

In [11]:
panda_data

          0         1
0  0.613554  0.642363
1  0.983797  0.513487
2  0.363551  0.183322

In [12]:
type(my_numpy_data)

numpy.ndarray

In [13]:
type(my_numpy_array)

numpy.ndarray

In [14]:
type(panda_series)

pandas.core.series.Series

In [19]:
panda_data.columns

RangeIndex(start=0, stop=2, step=1)

In [5]:
import os

In [7]:
cwd = os.getcwd()

In [8]:
cwd

'C:\\Users\\Zhixing'

In [18]:
CSV_PATH=os.path.join(cwd,'pluralsight','firstpythonanalytics','artwork_data.csv')

In [24]:
df=pd.read_csv(CSV_PATH,nrows=10000)

In [25]:
df['artist']

0                        Blake, Robert
1                        Blake, Robert
2                        Blake, Robert
3                        Blake, Robert
4                       Blake, William
                     ...
9995    Turner, Joseph Mallord William
9996    Turner, Joseph Mallord William
9997    Turner, Joseph Mallord William
9998    Turner, Joseph Mallord William
9999    Turner, Joseph Mallord William
Name: artist, Length: 10000, dtype: object

In [46]:
df=pd.read_csv(CSV_PATH,nrows=5, index_col='id')

In [48]:
df=pd.read_csv(CSV_PATH,nrows=5, index_col='id',usecols=['id','artist'])

In [32]:
COLS_TO_USE=['id','artist','title','medium','year','acquisitionYear','height','width','units']

In [36]:
df=pd.read_csv(CSV_PATH, index_col='id',usecols=COLS_TO_USE)

C:\Users\Zhixing\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [37]:
df

,artist,title,medium,year,acquisitionYear,width,height,units
id,,,,,,,,
1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",NaN,1922.0,394,419,mm
1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",Graphite on paper,NaN,1922.0,311,213,mm
1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,Graphite on paper. Verso: graphite on paper,1785,1922.0,343,467,mm
1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,Graphite on paper,NaN,1922.0,318,394,mm
1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,Line engraving on paper,1826,1919.0,243,335,mm
...,...,...,...,...,...,...,...,...
122960,"P-Orridge, Genesis",Larvae (from Tampax Romana),"Perspex, Wood, hairpiece, tampon and human blood",1975,2013.0,305,305,mm
122961,"P-Orridge, Genesis",Living Womb (from Tampax Romana),"Wood, Perspex, plastic, photograph on paper, t...",1976,2013.0,305,305,mm
121181,"Hatoum, Mona",Present Tense,Soap and glass beads,1996,2013.0,45,2410,mm
112306,"Creed, Martin",Work No. 227: The lights going on and off,Gallery lighting,2000,2013.0,NaN,NaN,NaN
127035,"Brunias, Agostino",Dancing Scene in the West Indies,Oil paint on canvas,1764,2013.0,508,660,mm

In [38]:
df.to_pickle(os.path.join(cwd,'pluralsight','firstpythonanalytics','data_frame.pickle'))

In [60]:
import json

In [61]:
records=[("Espresso","5$"),("Flat White","10$")]

In [62]:
pd.DataFrame.from_records(records)

            0    1
0    Espresso   5$
1  Flat White  10$

In [72]:
KEYS_TO_USE=['id','all_artists','title','medium','acquisitionYear','height','width','units']

In [73]:
def get_records_from_file(file_path, keys_to_use):
    with open(file_path) as artwork_file:
        content=json.load(artwork_file)
    
    record=[]
    for field in keys_to_use:
        record.append(content[field])
        
    return tuple(record)

In [74]:
SAMPLE_JSON=os.path.join(cwd,'Documents','GitHub','stockanalysis','collection', 'artworks', 'a', '000','a00001-1035.json')

In [75]:
sample_record=get_records_from_file(SAMPLE_JSON,KEYS_TO_USE)

In [76]:
sample_record

(1035,
 'Robert Blake',
 'A Figure Bowing before a Seated Old Man with his Arm Outstretched in Benediction. Verso: Indecipherable Sketch',
 'Watercolour, ink, chalk and graphite on paper. Verso: graphite on paper',
 1922,
 '419',
 '394',
 'mm')

In [80]:
def read_artworks_from_json(keys_to_use):
    JSON_ROOT=os.path.join(cwd,'Documents','GitHub','stockanalysis','collection', 'artworks')
    artworks=[]
    for root, _, files in os.walk(JSON_ROOT):
        for f in files:
            if f.endswith('json'):
                record=get_records_from_file(os.path.join(root,f),keys_to_use)
                artworks.append(record)
            break
    df=pd.DataFrame.from_records(artworks,columns=keys_to_use,index="id")
    return df

In [81]:
df=read_artworks_from_json(KEYS_TO_USE)

In [82]:
df

,all_artists,title,medium,acquisitionYear,height,width,units
id,,,,,,,
1035,Robert Blake,A Figure Bowing before a Seated Old Man with h...,"Watercolour, ink, chalk and graphite on paper....",1922,419,394,mm
20230,"Sir Edward Coley Burne-Jones, Bt",Study of Heads for a Pietà,Graphite and chalk on paper,1927,154,136,mm
6725,Arthur Boyd Houghton,[title not known],Graphite on paper,1922,,,
7330,George Jones,[title not known],Ink on paper,1888,,,
7430,George Jones,[title not known],Ink on paper,1888,,,
...,...,...,...,...,...,...,...
118532,Trevor Bell,Place,Acrylic paint on paper,2012,980,750,mm
117815,Jiro Takamatsu,Shadow,Graphite on paper,2012,181,260,mm
117484,Shelagh Cluett,Flux III,"Steel, bitumen, latex, clay and cotton string",2012,950,2430,mm
89762,Robert Mangold,Red Wall,Oil paint on fibreboard,2013,2450,2450,mm
123531,"Birdhead (Ji Weiyu, born 1980; Song Tao, born ...",Welcome to Birdhead World Again,"6 photographs, cellulose print, black and whit...",2013,,,

In [9]:
df=pd.read_pickle(os.path.join(cwd,'pluralsight','firstpythonanalytics','data_frame.pickle'))

In [40]:
artists=df['artist']

In [41]:
pd.unique(artists)

array(['Blake, Robert', 'Blake, William', 'Richmond, George', ...,
       'Sterne, Hedda', 'P-Orridge, Genesis', 'Brunias, Agostino'],
      dtype=object)

In [42]:
len(pd.unique(artists))

3336

In [44]:
df['artist']

id
1035           Blake, Robert
1036           Blake, Robert
1037           Blake, Robert
1038           Blake, Robert
1039          Blake, William
                 ...
122960    P-Orridge, Genesis
122961    P-Orridge, Genesis
121181          Hatoum, Mona
112306         Creed, Martin
127035     Brunias, Agostino
Name: artist, Length: 69201, dtype: object

In [45]:
s = df['artist'] == 'Bacon, Francis'

In [46]:
s.value_counts()

False    69151
True        50
Name: artist, dtype: int64

In [47]:
df.loc[1035,'artist']

'Blake, Robert'

In [49]:
df.iloc[100:300,[0,1,4]]

,artist,title,acquisitionYear
id,,,
1737,"Burne-Jones, Sir Edward Coley, Bt",Head of a Girl,1927.0
1738,"Burne-Jones, Sir Edward Coley, Bt",Figure Study,1927.0
1739,"Burne-Jones, Sir Edward Coley, Bt",Study of the Head of a Female Attendant for ‘T...,1927.0
20231,"Burne-Jones, Sir Edward Coley, Bt",Study of Iseult for ‘The Marriage of Sir Trist...,1927.0
1740,"Burne-Jones, Sir Edward Coley, Bt",Composition Study for ‘Clerk Saunders’,1927.0
...,...,...,...
7329,"Jones, George",[title not known],1888.0
7330,"Jones, George",[title not known],1888.0
7331,"Jones, George",[title not known],1888.0
7332,"Jones, George",[title not known],1888.0
7333,"Jones, George",[title not known],1888.0

In [50]:
df.loc[1035,'artist']

'Blake, Robert'

In [51]:
df.iloc[0,0]

'Blake, Robert'

In [52]:
pd.to_numeric(df['width'])

ValueError: Unable to parse string "(upper):" at position 1839

In [53]:
pd.to_numeric(df['width'],errors='coerce')

id
1035      394.0
1036      311.0
1037      343.0
1038      318.0
1039      243.0
          ...
122960    305.0
122961    305.0
121181     45.0
112306      NaN
127035    508.0
Name: width, Length: 69201, dtype: float64

In [58]:
df.loc[:,'width']=pd.to_numeric(df['width'],errors='coerce')

In [59]:
df.loc[:,'height']=pd.to_numeric(df['height'],errors='coerce')

In [61]:
df['height']*df['width']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [62]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [63]:
area=df['height']*df['width']

In [64]:
df=df.assign(area=area)

In [65]:
df['area'].max()

132462000.0

In [66]:
df.loc[df['area'].idxmax(),:]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                             2003
acquisitionYear                                  2008
width                                            8920
height                                          14850
units                                              mm
area                                      1.32462e+08
Name: 98367, dtype: object

In [67]:
df.groupby('artist')

In [69]:
small_df=df.iloc[49980:50019, :].copy()

In [70]:
grouped = small_df.groupby('artist')

In [71]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [76]:
for name, group_df in grouped:
    print(name)
    print(group_df)
    break

Frost, Sir Terry
                artist            title               medium  year  \
id
4704  Frost, Sir Terry        Blue Moon  Lithograph on paper  1952
4705  Frost, Sir Terry      Boat Shapes     Linocut on paper  1952
4706  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4707  Frost, Sir Terry      Boat Shapes     Linocut on paper  1954
4708  Frost, Sir Terry            Leeds    Drypoint on paper  1956
4709  Frost, Sir Terry  Camping, Anduze     Etching on paper  1979
4710  Frost, Sir Terry     Umea, Sweden     Etching on paper  1979
4711  Frost, Sir Terry    Self-Portrait     Etching on paper  1980

      acquisitionYear  width  height units     area
id
4704           1983.0  355.0   273.0    mm  96915.0
4705           1983.0  132.0   143.0    mm  18876.0
4706           1983.0  131.0   155.0    mm  20305.0
4707           1983.0  193.0   267.0    mm  51531.0
4708           1983.0  125.0   167.0    mm  20875.0
4709           1983.0  257.0   209.0    mm  53713.0
4710           1983.0    NaN     NaN   NaN      NaN
4711           1983.0  277.0   200.0    mm  55400.0

In [75]:
for name, group_df in small_df.groupby('artist'):
    min_year=group_df['acquisitionYear'].min()
    print("{}: {}".format(name, min_year))

Frost, Sir Terry: 1983.0
Phillips, Esq Tom: 1983.0
Wols: 1983.0

In [86]:
def fill_values(series):
    values_counted=series.value_counts()
    if values_counted.empty:
        return series
    most_frequent=values_counted.index[0]
    new_medium=series.fillna(most_frequent)
    return new_medium

In [84]:
grouped_mediums=small_df.groupby('artist')['medium']

In [88]:
small_df.loc[:,'medium']=grouped_mediums.transform(fill_values)

In [91]:
small_df.groupby('artist').min()

AssertionError:

In [10]:
small_df=df.iloc[49980:50019, :].copy()

In [11]:
small_df.to_excel("basic.xlsx")

In [12]:
small_df.to_excel("basic.xlsx",index=False)

In [13]:
small_df.to_excel("basic.xlsx",index=False,columns=["artist", "title", "year"])

In [19]:
writer=pd.ExcelWriter('mutiple_sheets.xlsx', engine='xlsxwriter')

In [20]:
small_df.to_excel(writer,sheet_name="preview")

In [21]:
writer.save()

In [22]:
import sqlite3

In [24]:
with sqlite3.connect('my_database.db') as conn:
    small_df.to_sql('Tate', conn)

In [26]:
small_df.to_json('default.json')
small_df.to_json('table.json', orient='table')

In [28]:
acquisition_years=df.groupby('acquisitionYear').size()

In [29]:
import matplotlib.pyplot as plt

In [31]:
from matplotlib import rcParams

In [34]:
rcParams.update({'figure.autolayout': True, 'axes.titlepad': 20})

In [35]:
fig=plt.figure()

In [36]:
subplot=fig.add_subplot(1,1,1)

In [37]:
acquisition_years.plot(ax=subplot)

In [38]:
fig.show()

<ipython-input-38-6ebedab27258>:1: UserWarning: Matplotlib is currently using module://ipykernel.pylab.backend_inline, which is a non-GUI backend, so cannot show the figure.
  fig.show()